In [35]:
import os
import requests
import pandas as pd
from concurrent.futures import ThreadPoolExecutor

In [36]:
authors = [
    "J.K. Rowling",
    "Leo Tolstoy",
    "Fyodor Dostoevsky",
    "Jordan Peterson",
    "Carl Jung",
    "Viktor Frankl",
    "Arthur Schopenhauer",
    "Friedrich Nietzsche",
    "Jocko Willink",
    "Earnest Becker",
    "Bell Hooks",
    "Esther Perel",
    "Simone De Beauvoir",
    "Johann Wolfgang von Goethe",
    "William Shakespeare",
    "Logan Ury",
    "Emil Cioran",
    "Aleksandr Solzhenitsyn",
    "Jean Paul Sarte",
    "Soren Kierkegaard",
    "Immanuel Kant",
    "Mark Manson",
    "John Gottman",
    "Albert Camus",
    "J.R.R. Tolkien",
    "C.S. Lewis",
]

In [37]:
formatted_authors = [author.replace(' ', "%") for author in authors]
formatted_authors

['J.K.%Rowling',
 'Leo%Tolstoy',
 'Fyodor%Dostoevsky',
 'Jordan%Peterson',
 'Carl%Jung',
 'Viktor%Frankl',
 'Arthur%Schopenhauer',
 'Friedrich%Nietzsche',
 'Jocko%Willink',
 'Earnest%Becker',
 'Bell%Hooks',
 'Esther%Perel',
 'Simone%De%Beauvoir',
 'Johann%Wolfgang%von%Goethe',
 'William%Shakespeare',
 'Logan%Ury',
 'Emil%Cioran',
 'Aleksandr%Solzhenitsyn',
 'Jean%Paul%Sarte',
 'Soren%Kierkegaard',
 'Immanuel%Kant',
 'Mark%Manson',
 'John%Gottman',
 'Albert%Camus',
 'J.R.R.%Tolkien',
 'C.S.%Lewis']

In [38]:
def helper(author):
    params = {
        'q': author
    }
    response = requests.get("https://openlibrary.org/search/authors.json", params=params)
    data = response.json()
    docs = data.get('docs')

    res = {
        'author_id': [],
        'name': [],
        'top_subjects': [],
        'work_count': [],
        'ratings_average': [],
        'ratings_sortable': [] ,
        'ratings_count': [],
        'ratings_count_1': [],
        'ratings_count_2': [],
        'ratings_count_3': [],
        'ratings_count_4': [],
        'ratings_count_5': [],
        'want_to_read_count': [],
        'already_read_count': [],
        'currently_reading_count': [],
        'readinglog_count': [],
    }
    
    for doc in docs:
        res['author_id'].append(doc.get('author_id'))
        res['name'].append(doc.get('name'))
        res['top_subjects'].append(doc.get('top_subjects'))
        res['work_count'].append(doc.get('work_count', 0))
        res['ratings_average'].append(doc.get('ratings_average', 0))
        res['ratings_sortable'].append(doc.get('ratings_sortable', 0))
        res['ratings_count'].append(doc.get('ratings_count', 0))
        res['ratings_count_1'].append(doc.get('ratings_count_1', 0))
        res['ratings_count_2'].append(doc.get('ratings_count_2', 0))
        res['ratings_count_3'].append(doc.get('ratings_count_3', 0))
        res['ratings_count_4'].append(doc.get('ratings_count_4', 0))
        res['ratings_count_5'].append(doc.get('ratings_count_5', 0))
        res['want_to_read_count'].append(doc.get('want_to_read_count', 0))
        res['already_read_count'].append(doc.get('already_read_count', 0))
        res['currently_reading_count'].append(doc.get('currently_reading_count', 0))
        res['readinglog_count'].append(doc.get('readinglog_count', 0))

    res_df = pd.DataFrame(res)
    return res_df

    

with ThreadPoolExecutor() as exe:
    author_data = pd.concat(list(exe.map(helper, formatted_authors)), ignore_index=True, axis=0)

In [39]:
author_data

,key,name,top_subjects,work_count,ratings_average,ratings_sortable,ratings_count,ratings_count_1,ratings_count_2,ratings_count_3,ratings_count_4,ratings_count_5,want_to_read_count,already_read_count,currently_reading_count,readinglog_count
0,OL14732426A,J.K. Rowling,None,0.0,0.000000,2.047372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,OL14534632A,J. K. J.K. Rowling,None,0.0,0.000000,2.047372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OL23919A,J. K. Rowling,"[Children's fiction, Fantasy fiction, Wizards,...",890.0,4.226277,4.192404,3151.0,157.0,76.0,411.0,760.0,1747.0,34729.0,5516.0,2741.0,42986.0
3,OL738926A,Leo Tolstoy,"[Services for, Viol, Trials (Rape), Services a...",7.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OL12785803A,Leo Tolstoy,None,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,OL12495518A,C.S. Lewis | C. S. &#xB8E8;&#xC774;&#xC2A4;,None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,OL11489024A,LEWIS C.S.,None,6.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
378,OL13211749A,Lewis C.S.,None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
379,OL9219678A,"Lewis,C.S.",None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,OL12514322A,"Lewis (Ed.) Forester,C.S. & Gannett",None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
author_data

,key,name,top_subjects,work_count,ratings_average,ratings_sortable,ratings_count,ratings_count_1,ratings_count_2,ratings_count_3,ratings_count_4,ratings_count_5,want_to_read_count,already_read_count,currently_reading_count,readinglog_count
0,OL14732426A,J.K. Rowling,None,0.0,0.000000,2.047372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,OL14534632A,J. K. J.K. Rowling,None,0.0,0.000000,2.047372,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OL23919A,J. K. Rowling,"[Children's fiction, Fantasy fiction, Wizards,...",890.0,4.226277,4.192404,3151.0,157.0,76.0,411.0,760.0,1747.0,34729.0,5516.0,2741.0,42986.0
3,OL738926A,Leo Tolstoy,"[Services for, Viol, Trials (Rape), Services a...",7.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,OL12785803A,Leo Tolstoy,None,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,OL12495518A,C.S. Lewis | C. S. &#xB8E8;&#xC774;&#xC2A4;,None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,OL11489024A,LEWIS C.S.,None,6.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
378,OL13211749A,Lewis C.S.,None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
379,OL9219678A,"Lewis,C.S.",None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
380,OL12514322A,"Lewis (Ed.) Forester,C.S. & Gannett",None,2.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
author_data.dtypes

key                         object
name                        object
top_subjects                object
work_count                 float64
ratings_average            float64
ratings_sortable           float64
ratings_count              float64
ratings_count_1            float64
ratings_count_2            float64
ratings_count_3            float64
ratings_count_4            float64
ratings_count_5            float64
want_to_read_count         float64
already_read_count         float64
currently_reading_count    float64
readinglog_count           float64
dtype: object

# use the author id to search more works from the author

In [ ]:
author_ids = author_data['author_id'].tolist()

def get_sizes(author_id):
    response = requests.get(f"https://openlibrary.org/search/authors/{author_id}/works.json")
    data = response.json()
    size = data.get('size')

    return (author_id, size)

with ThreadPoolExecutor() as exe:
    author_ids_sizes = list(exe.map(get_sizes, author_ids))
print(author_ids_sizes)

def get_works(author_id_size):
    author_id, size = author_id_size
    offset = 50
    stop = size % offset
    n_data_per_page = list(range(0, stop + 1, offset))
    

    for i in n_data_per_page:
        # what I want to do here is if size is too big parition api requests per batch
        # through `limit` parameter or offset to paginate
        # "https://openlibrary.org/search/authors/{author_id}/works.json" 0 to 49
        # next offset=50
        # "https://openlibrary.org/search/authors/{author_id}/works.json?offset=50" 50 to 99 
        # next offset=100
        # "https://openlibrary.org/search/authors/{author_id}/works.json?offset=100" 100 to 149 
        # ...
        # "https://openlibrary.org/search/authors/{author_id}/works.json?offset=350" 350 to 399
        # next offset=400
        # "https://openlibrary.org/search/authors/{author_id}/works.json?offset=400" 400 to 410
        # so what I want is indeces [0, 50, 100, 150, ..., 400] derived from size 411
        # 411 % 50 = 11
        # 450 % 50 = 0
        # if 411 we want to stop our pagination at 400, so 411 - (411 % 50)
        # if 93 we want to stop our pagination at 50, so 93 - (93 % 50)
        # if 20 we want to stop our pagination at 0, so 20 - (20 % 50)
        # 0 to (0 + 1) * 50 or 50 exclusively
        # 1 to (1 + 1) * 50 or 100 exclusively
        # 400 to (400 + 1)
        params = {
            'offset': i 
        }
        response = requests.get(f"https://openlibrary.org/search/authors/{author_id}/works.json", params=params)
        data = response.json()
        entries = data.get('entries')
        author_id = entries.get('key')
        title = entries.get('title')
        desc = entries.get('description').get('value')
        subjects = entries.get('subjects')
        date_created = entries.get('created').get('value')
        date_modified = entries.get('last_modified').get('value')

In [ ]:
# # SuperFastPython.com
# # example of getting results for tasks as they are completed
# from time import sleep
# from random import random
# from concurrent.futures import ThreadPoolExecutor
# from concurrent.futures import as_completed

# # task function to be executed in the thread pool
# def task(task_id):
#     # generate a random value between 0 and 1
#     value = random()
#     # sleep for some number of seconds
#     sleep(value * 10)
#     # return a result
#     return f'Task={task_id}: {value}'

# # protect the entry point
# if __name__ == '__main__':
#     # start the thread pool
#     with ThreadPoolExecutor(10) as exe:
#         # submit tasks and collect futures
#         futures = [exe.submit(task, i) for i in range(10)]
#         # process task results as they are available
#         for future in as_completed(futures):
#             # retrieve the result
#             result = future.result()
#             # report the result
#             print(result)